-
  var
    htmlClass = "wide wow-animation",
    fonts = "//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900%7CMerriwaether:300,400%7CSource+Sans+Pro:400,700%7CYrsa:300,400,700",
    subscribeFormCounter = 0,
    logo = {
      default: { normal: 'logo-default-135x21', retina: 'logo-default-269x40' },
      inverse: { normal: 'logo-inverse-135x21', big: 'logo-inverse-162x25', retina: 'logo-inverse-269x40' },
      name: 'Relish Ruelle'
    },
    links = {
      post: 'blog-post.html',
      services: 'services.html',
      getTemplate:'#get-template',
      videoYoutube: 'https://youtu.be/6eeldaXgz-c'
    },
    colors = {
      primary: '#000'
    },
    menu = [
      {
        title: 'Home',
        category: 'home',
        link: 'index.html'
      },
      {
        title: 'About us',
        category: 'about-us',
        link: 'about-us.html'
      },
      { 
        title: 'Portfolio',
        category: 'portfolio',
        link: 'portfolio.html'
      },
      {
        title: 'Services',
        category: 'services',
        link: 'services.html',
        dropdown: [
         {
          title : 'Single Service',
          link: 'single-service.html'
         },
         {
          title : 'Skin Care',
          link: '#'
         },
         {
          title : 'Massage',
          link: '#'
         },
         {
          title : 'Pedicure',
          link: '#'
         },
         {
          title : 'Hot Bath',
          link: '#'
         },
         {
          title : 'Other Services',
          link: '#'
         }
        ]
      },
      {
        title: 'Pages',
        category: 'pages',
        link: '#',
        megamenu: [
          {
            title: 'Pages 1',
            list: [
              {
                title: 'Typography',
                link: 'typography.html'
              },
              {
                title: 'Buttons',
                link: 'buttons.html'
              },
              {
                title: 'Forms',
                link: 'forms.html'
              },
              {
                title: 'Tabs and accordions',
                link: 'tabs-and-accordions.html'
              },
              { title: 'Progress bars' },
              { title: 'Tables' }
            ]
          },
          {
            title: 'Pages 2',
            list: [
              { title: 'Grid system' },
              { title: 'Privacy policy' },
              { title: '404' },
              { title: '503' },
              { title: 'Maintenance' },
              { title: 'Our Team' }
            ]
          },
          {
            title: 'Pages 3',
            list: [
              { title: 'Under Construction' },
              { title: 'Pricing Table' },
              { title: 'Gallery Grid' },
              { title: 'FAQ' },
              { title: 'Site Map' },
              { title: 'Search results' }
            ]
          },
          {
            title: 'Layouts',
            list: [
              { title: 'Home 1' },
              { title: 'Home 2' },
              { title: 'Home 3' },
              { title: 'Header Classic' },
              { title: 'Header Transparent' },
              { title: 'Header Light' }
            ]
          }
        ]
      },
      {
        title: 'Contact us',
        category: 'contact-us'
      }
    ];
