-
  var
    htmlClass = "wide wow-animation",
    links = {
      post: 'blog-post.html',
      services: 'services.html',
      getTemplate:'#get-template',
      videoYoutube: 'https://youtu.be/6eeldaXgz-c'
    },
    menu = [
      {
        title: 'Home',
        category: 'home',
        link: 'index.html'
      },
      {
        title: 'About us',
        category: 'about-us',
        link: 'about-us.html'
      },
      { 
        title: 'Portfolio',
        category: 'portfolio',
        link: 'portfolio.html'
      },
      {
        title: 'Services',
        category: 'services',
        link: 'services.html',
      },
    ];
