include _config
include _functions
include _elements

block variables

doctype html
html( lang='en', class= htmlClass )
  head
    block title
      title= pageName

    meta( charset='utf-8' )
    meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )

    link( rel='icon', href='images/favicon.png', type='image/x-icon' )
    //- link( rel='stylesheet', type='text/css', href= fonts )
    //- link( rel='stylesheet', href='css/bootstrap.css' )
    //- link( rel='stylesheet', href='.css/fonts.css' )
    link( rel='stylesheet', href='./css/style.css' )

  body
    .page
      block page

  script( src='./js/main.js' )
  script( src='http://localhost:35729/livereload.js' )
