.Article {
  &_main {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    margin-top: $header-height;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .Wrapper {
      position: relative;
      bottom: 50px;
      display: flex;
      justify-content: flex-end;
      height: 100%;
      flex-direction: column;
      color: $gray-300;
    }

    &_categoryName {
      font-weight: 600;
      font-size: 2rem;
      font-family: pragmatica, sans-serif;
      color: $white !important;
    }
    &_title {
      font-weight: 600;
      font-size: 3rem;
      margin-top: 16px;
      color: $white !important;
    }
    &_date {
      font-weight: normal;
      font-family: pragmatica, sans-serif;
      margin-top: 20px;
      color: $white !important;
    }
  }
  &_contents {
    margin-top: 54px;
    p {
      line-height: 1.8;
    }
    .ArrowLink {
      padding-top: 10px;
    }
    section {
      margin-top: 60px;
    }
  }
  &_sectionTitle {
    font-size: 2.8rem;
    font-weight: normal;
    &-margin {
      padding-top: 50px;
      margin-bottom: 40px;
    }
  }
  &_list {
    margin-top: 40px;
    display: table;
    border-collapse: collapse;
  }
  &_listItem {
    border-bottom: 1px solid #dfdfdf;
    font-size: 2rem;
    display: table-row;
    .title,
    .text {
      display: table-cell;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .title {
      color: $primary;
      vertical-align: text-top;
      font-weight: 600;
      white-space: nowrap;
      small {
        font-size: 1.2rem;
        display: block;
      }
    }
    .text {
      padding-left: 40px;
      line-height: 1.8;
      vertical-align: middle;
    }
    .bold {
      font-weight: 600;
    }
  }
  &_feature {
    background-color: $gray-900;
    padding: 20px;
    margin-top: 10px;
    .wrapper {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }
    .texts {
      flex: 1;
    }
    figure {
      margin-right: 18px;
    }
    .name,
    .job,
    .event {
      font-weight: 600;
    }
    .event {
      font-size: 2rem;
    }
    .job {
      font-size: 1.6rem;
    }
    .name {
      font-size: 1.8rem;
    }
    .description {
      font-size: 1.2rem;
      margin-top: 20px;
    }
  }
  &_commentator {
    .item {
      display: flex;
      margin-top: 36px;
    }
    .texts {
      flex: 1;
    }
    figure {
      margin-right: 18px;
    }
    .name,
    .job,
    .event {
      font-weight: 600;
    }
    .event {
      font-size: 2rem;
    }
    .job {
      font-size: 1.6rem;
    }
    .name {
      font-size: 1.8rem;
    }
    .description {
      font-size: 1.2rem;
      margin-top: 20px;
    }
  }
  .Contact {
    margin-top: 140px;
  }
}

@include breakPoint(md) {
  .Article {
    &_main {
      height: 460px;
      &_title {
        line-height: 1.4;
      }
      &_date {
        display: none;
      }
    }
    &_sectionTitle {
      font-size: 2rem;
      font-weight: 600;
      &-margin {
        margin: 0;
        padding: 40px 0 0 0;
      }
    }
    &_list {
      margin-top: 20px;
      &-spVertical {
        display: block;
        .Article_listItem {
          display: block;
          padding: 10px 0;
          .title,
          .text {
            display: block;
            padding: 0;
          }
        }
      }
    }
    &_listItem {
      .title {
        font-size: 1.6rem;
      }
      .text {
        padding-left: 20px;
        font-size: 1.6rem;
      }
    }
    &_feature {
      margin-bottom: 20px;
      .event {
        line-height: 1.4;
      }
      .wrapper {
        flex-direction: column;
        figure {
          margin: 0 auto 20px;
          max-width: 400px;
          width: 100%;
          img {
            width: 100%;
          }
        }
        .job {
          line-height: 1.4;
          margin-bottom: 8px;
        }
      }
    }
    &_commentator {
      .item {
        flex-direction: column;
        figure {
          margin: 0 auto 20px;
          max-width: 400px;
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
    &_small {
      font-size: 1.2rem;
    }
    .Contact {
      margin-top: 70px;
    }
  }
}
