.News {
  .main {
    position: relative;
    background-image: url('../img/main_news.svg');
    background-size: cover;
    background-position: center;
    height: 618px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_contents {
    padding: 0 40px;
    .Button {
      margin: 38px auto 0;
    }
    .listItem:nth-child(n + 21) {
      display: none;
    }
    .is-show {
      .listItem {
        display: block;
      }
      + .Button {
        display: none;
      }
    }
  }
  .Contact {
    margin-top: 80px;
  }
}

@include breakPoint(md) {
  .News {
    .main {
      height: 500px;
      align-items: flex-start;
      background-image: url('../img/main_news_sp.svg');
    }
    &_contents {
      padding: 0 20px;
    }
  }
}
