-
  var data = {
    htmlClass: "hogehoge",
    "home": {
      "title": "pugpugpug",
      "description": "",
      "keywords":""
    },
    "hoge": {
      "title": "pughogepughoge",
      "description": "",
      "keywords":""
    }
  }