//- include ./_configtest
//- include _functions
//- include _elements

block variables
- var config = globalConf;

doctype html
html( lang='ja', class= htmlClass )
  head
    block title
      title= pageName

    meta( charset='utf-8' )
    meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )

    link( rel='icon', href='images/favicon.png', type='image/x-icon' )
    //- link( rel='stylesheet', type='text/css', href= fonts )
    //- link( rel='stylesheet', href='css/bootstrap.css' )
    //- link( rel='stylesheet', href='.css/fonts.css' )
    link( rel='stylesheet', href='./css/style.css' )
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

  body
    .page
      p #{config.og_title}
      block page

  script( src='./js/main.js' )
