.Detail {
  .Container {
    padding: 40px 0 50px;
    flex-direction: column;
  }
  .Title-section {
    margin-bottom: 24px;
  }
  .Title-contents {
    margin-bottom: 40px;
  }
  &_items {
    display: flex;
    width: 968px;

    .Card {
      width: 33.33%;
    }

    .Card + .Card,
    .Card_wrapper + .Card_wrapper {
      margin-left: 21px;
    }

    & + .Title-contents {
      margin-top: 90px;
    }
  }

  .Card_wrapper {
    width: 33.33%;
    .Card {
      width: 100%;
    }
    .Button {
      margin: 44px auto 0;
      text-align: center;
      line-height: 1.4;
    }
  }

  &_anchor {
    text-align: center;
    margin: 0 calc(30 / 375 * 100vw) calc(100 / 375 * 100vw);
    dt,
    dd {
      border-bottom: 1px solid $brown;
    }
    dt {
      font-size: calc(19 / 375 * 100vw);
      padding-bottom: calc(10 / 375 * 100vw);
      font-weight: normal;
    }
    a {
      font-size: calc(19 / 375 * 100vw);
      height: calc(85 / 375 * 100vw);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 20px;
        margin-top: calc(8 / 375 * 100vw);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .Detail {
    .Container {
      padding: 0;
      background-color: unset;
    }
    .Title-section {
      margin-bottom: 4px;
    }
    .Title-contents {
      margin-bottom: 20px;
    }
    .Card_wrapper {
      width: auto;
    }

    &_items {
      width: 100%;
      flex-direction: column;

      .Card {
        width: auto;
      }

      .Card + .Card,
      .Card_wrapper + .Card_wrapper {
        margin-top: 10px;
        margin-left: 0;
      }

      .Card_wrapper {
        &.red {
          background-color: $bg-red;
        }
        &.green {
          background-color: $bg-green;
        }
        &.orange {
          background-color: $bg-orange;
        }
        .Button {
          margin: 0 auto 30px;
        }
      }
    }
  }
}
