.Lineup {
  .Container {
    padding: 65px 0 85px;
    flex-direction: column;
  }
  .Title-section {
    margin-bottom: 24px;
  }
  &_items {
    display: flex;
    justify-content: center;
    & + & {
      margin-top: 110px;
    }
  }

  &_item {
    width: 238px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    & + & {
      margin-left: 94px;
    }

    &_header {
      font-size: 2.5rem;
      height: 40px;
      padding-left: 14px;
      margin-bottom: 30px;
      white-space: nowrap;
      font-weight: bold;
      display: flex;
      align-items: center;
      &-red {
        border-left: 3px solid $red;
        color: $red;
      }
      &-green {
        border-left: 3px solid $green;
        color: $green;
      }
      &-orange {
        border-left: 3px solid $orange;
        color: $orange;
      }
    }

    &_name {
      text-align: center;
      font-size: 1.6rem;
      margin: 16px 0 10px;
      height: 5.6rem;
      line-height: 1.5;
      span {
        border-bottom: 1px solid $brown;
      }
      &.adjust {
        white-space: nowrap;
        margin-left: -2px;
      }
    }

    .Button {
      width: 195px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 767px) {
  .Lineup {
    .Title-section {
      margin-bottom: 16px;
    }
    .Container {
      padding: 0;
      background: none;
    }
    &_items {
      width: 100%;
      flex-direction: column;

      & + & {
        margin-top: 10px;
      }

      &.red > * {
        background-color: $bg-red;
      }
    }
    &_item {
      width: 100%;
      padding: 0 8vw 4.8vw;
      & + & {
        margin: 0;
      }
      &.green {
        background-color: $bg-green;
      }
      &.orange {
        background-color: $bg-orange;
        margin-top: 10px;
      }
      &_header {
        font-size: calc(18 / 375 * 100vw);
        height: 13.867vw;
        line-height: 14.4vw;
        padding-left: 0;
        margin-bottom: 5.867vw;
        justify-content: center;
        &-red {
          border-left: none;
          border-bottom: 1px solid $red;
        }
        &-green {
          border-left: none;
          border-bottom: 1px solid $green;
        }
        &-orange {
          border-left: none;
          border-bottom: 1px solid $orange;
        }
      }
      &_contents {
        display: flex;

        div + div {
          margin-left: 5.333vw;
        }
        div img {
          max-width: 31.467vw;
        }
      }
      &_name {
        font-size: calc(14 / 375 * 100vw);
        margin: 4.267vw 0;
        text-align: left;
        height: auto;
        &.adjust {
          white-space: unset;
          margin-left: 0;
        }
      }
      .Button {
        font-size: 3.733vw;
        width: 34.667vw;
        margin: 0;
        padding: 1.067vw 0 1.067vw 2.667vw;
        justify-content: unset;
        &:before {
          height: 2.133vw;
          width: 1.6vw;
          right: 2.133vw;
        }
      }
    }
  }
}
