.Main {
  background-color: $beige;
  text-align: center;
  padding-bottom: 28px;

  h1 {
    font-size: 4.2rem;
    font-weight: normal;
    letter-spacing: 18px;
    margin-top: 28px;
  }
  h2 {
    font-size: 2.7rem;
    font-weight: normal;
    letter-spacing: 8px;
    margin-top: 6px;
  }
}

@media screen and (max-width: 767px) {
  .Main {
    padding-top: 12vw;
    padding-bottom: 6.4vw;
    h1 {
      font-size: calc(14 / 375 * 100vw);
      letter-spacing: 8px;
      margin-top: 6.4vw;
    }
    h2 {
      font-size: calc(24 / 375 * 100vw);
      letter-spacing: 4px;
      margin-top: 1.067vw;
      line-height: 1.6;
    }
  }
}
