.Navi {
  &_title {
    display: none;
    background-color: $beige;
    position: relative;
    z-index: 3;
    a {
      height: 12vw;
      font-size: 1.5rem;
      font-size: calc(15 / 375 * 100vw);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: calc(40 / 750 * 100vw);
        width: calc(30 / 750 * 100vw);
        height: calc(3 / 750 * 100vw);
        background: $brown;
        transition: transform 0.3s;
      }
      &:after {
        transform: rotate(-90deg);
      }
    }
  }
  &_list {
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $beige;

    &_item {
      position: relative;
      height: 100%;
      margin: 0 2.2vw;
      &:before {
        content: '';
        position: absolute;
        left: calc(50%);
        bottom: 20px;
        display: block;
        width: 0;
        height: 1px;
        background-color: $brown;
        transform: translateX(calc(-50%));
        transition: width 0.3s;
      }
      &:hover {
        .Navi_innerList {
          visibility: visible;
          opacity: 1;
          height: auto;
        }
        &:before {
          width: 100%;
        }
      }
      &:last-of-type {
        .Navi_innerList {
          right: 0;
        }
      }
    }
    &_itemLink {
      position: relative;
      font-size: 2.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 0.943vw;
      z-index: 100;
      img {
        width: 20px;
        margin-left: 1.509vw;
      }
    }
  }

  &_innerList {
    position: absolute;
    top: 95px;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    visibility: hidden;
    transition: all 0.3s;

    &_item {
      a {
        font-size: 2.1rem;
        display: flex;
        align-items: center;
        padding: 15px 30px;
        white-space: nowrap;
        background-color: rgba(249, 249, 245, 0.86);
        &:hover {
          background-color: #808075;
          color: white;
        }
      }
    }
  }
}

.is-show {
  .Navi {
    &_title {
      a {
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .Navi {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease-out;
    &_title {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_list {
      flex-direction: column;
      height: auto;
      background-color: white;
      padding: calc(16 / 750 * 100vw) calc(54 / 750 * 100vw) calc(60 / 750 * 100vw);
      position: absolute;
      z-index: 1;
      top: -100vh;
      left: 0;
      transition: top 0.3s ease-out;
      width: 100%;
      &_itemLink {
        text-align: left;
        justify-content: start;
        font-size: calc(34 / 750 * 100vw);
        padding: calc(10 / 750 * 100vw) 0;
        font-weight: bold;
        span {
          font-weight: bold;
        }
        img {
          display: none;
        }
      }
      &_item {
        border-bottom: 1px solid $brown;
        width: 100%;
        padding-bottom: calc(10 / 750 * 100vw);
        & + & {
          margin-top: calc(10 / 750 * 100vw);
        }
        &:before {
          display: none;
        }
      }
    }
    &_innerList {
      position: relative;
      top: 0;
      opacity: 1;
      left: 0;
      transform: unset;
      height: auto;
      visibility: visible;
      &_item {
        a {
          background-color: unset;
          font-size: calc(34 / 750 * 100vw);
          padding: calc(10 / 750 * 100vw) 0;
          &:hover {
            background-color: unset;
            color: $brown;
          }
        }
      }
    }
  }
  .is-show {
    .Navi {
      background-color: rgba(255, 255, 255, 1);
      height: calc(100vh - 60px);
      overflow-y: scroll;
      &_list {
        top: 12vw;
      }
    }
  }
}
