.Products {
  max-width: 720px;
  margin: 50px 0 25px;
  li {
    display: flex;
  }
  li + li {
    margin-top: 45px;
  }
  .image {
    width: 232px;
    height: 232px;
    margin-right: 40px;
  }
  .title {
    font-size: 2.7rem;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 16px;

    &.red {
      background-color: $red;
    }
    &.green {
      background-color: $green;
    }
    &.orange {
      background-color: $orange;
    }
  }
  .subTitle {
    font-size: 2.2rem;
    margin-top: 14px;
    font-weight: 600;
    &.red {
      color: $red;
    }
    &.green {
      color: $green;
    }
    &.orange {
      color: $orange;
    }
  }
  .text {
    font-size: 1.8rem;
    line-height: 1.6;
    margin: 6px 0;
  }
  .Button {
    margin: 30px 0 0 auto;
  }
  small {
    font-size: 1.6rem;
  }
  .small {
    font-size: 1rem;
    vertical-align: text-top;
  }
}

@media screen and (max-width: 767px) {
  .Products {
    padding: 0 4.267vw;
    margin-top: 10.667vw;
    li {
      flex-direction: column;
      .title {
        display: none;
      }
      .image {
        width: auto;
        height: auto;
        margin: 1.6vw 0 0;
      }
      .subTitle {
        font-size: calc(18 / 375 * 100vw);
        margin-top: 4.267vw;
        padding-bottom: 1.067vw;
        font-weight: normal;
        &.red {
          color: $brown;
          border-bottom: 1px solid $red;
        }
        &.green {
          color: $brown;
          border-bottom: 1px solid $green;
        }
        &.orange {
          color: $brown;
          border-bottom: 1px solid $orange;
        }
      }
      .text {
        font-size: calc(14 / 375 * 100vw);
        margin-top: 4.267vw;
        line-height: 1.8;
        text-align: justify;
      }
    }
    li + li {
      margin-top: 18.667vw;
    }
    .Button {
      margin: 8vw auto 0;
    }
    .small {
      font-size: calc(10 / 375 * 100vw);
      vertical-align: top;
    }
    small {
      font-size: calc(12 / 375 * 100vw);
    }
  }
}
