.Recipe {
  &_items {
    display: flex;
    justify-content: space-between;
    width: 968px;
    margin: 30px auto;

    .Card {
      width: 280px;
      padding: 0;
    }
    .Card_contents {
      padding: 0;
    }
    .Button {
      width: 100%;
      position: relative;
      margin-top: 40px;
      text-align: center;
      line-height: 1.4;
    }
  }

  &_item {
    display: block;
    &:hover {
      opacity: 0.8;
    }
    & + & {
      margin-top: 40px;
    }
    p {
      text-align: center;
      position: relative;
      margin-top: 1.8rem;
      font-size: 1.6rem;
      line-height: 1.6;
      &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
        right: 0;
        display: block;
        content: '';
        background: url(../img/ico_arrow_brown.png) 0 0 no-repeat;
        background-size: cover;
        width: 6px;
        height: 10px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .Recipe {
    &_items {
      flex-direction: column;
      width: auto;
      margin-top: 4.267vw;
    }
    &_item {
      width: 100%;
      & + & {
        margin-top: 0;
        margin-left: 4.8vw;
      }
      p {
        text-align: left;
        font-size: 3.467vw;
        margin-top: 2.133vw;
      }
    }
    .Card {
      width: 100%;
      padding: 0 30px 30px;
      &.red {
        background-color: $bg-red;
      }
      &.green {
        background-color: $bg-green;
      }
      &.orange {
        background-color: $bg-orange;
      }
    }
    .Card + .Card {
      margin-top: 2.667vw;
    }
    .Card_contents {
      div {
        display: flex;
      }
      .Button {
        margin-top: 4.267vw;
        font-size: 3.733vw;
      }
    }
  }
}
