.Card {
  background-color: white;
  padding: 0 14px 24px;
  &_header {
    font-size: 2rem;
    height: 120px;
    padding-left: 6px;
    font-weight: 600;
    display: flex;
    align-items: center;
    &-mixer {
      background: url(../img/img_mixer_small.png) right 50% no-repeat;
      background-size: 78px 78px;
      border-bottom: 2px solid $red;
      color: $red;
    }
    &-blender {
      background: url(../img/img_blender_small.png) right 50% no-repeat;
      background-size: 91px 91px;
      border-bottom: 2px solid $green;
      color: $green;
    }
    &-processer {
      background: url(../img/img_processer_small.png) right 50% no-repeat;
      background-size: 91px 91px;
      border-bottom: 2px solid $orange;
      color: $orange;
    }
  }
  &_contents {
    margin-top: 40px;
    padding: 0 15px;
    &-h294 {
      height: 294px;
    }
    &-h300 {
      height: 300px;
    }
    & + & {
      margin-top: 50px;
    }
  }
  &_text {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.5;
  }
  &_list {
    margin-top: 14px;
    li {
      position: relative;
      padding-left: 16px;

      &:before {
        position: absolute;
        top: 6px;
        left: 0;
        content: '';
        display: block;
        width: 10px;
        height: 10px;
      }
    }
    li + li {
      margin-top: 16px;
    }

    &-red {
      li {
        &:before {
          background-color: $red;
        }
      }
    }
    &-green {
      li {
        &:before {
          background-color: $green;
        }
      }
    }
    &-orange {
      li {
        &:before {
          background-color: $orange;
        }
      }
    }
  }
  small {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 767px) {
  .Card {
    padding: calc(10 / 375 * 100vw) calc(30 / 375 * 100vw) calc(20 / 375 * 100vw);
    &.red {
      background-color: $bg-red;
    }
    &.green {
      background-color: $bg-green;
    }
    &.orange {
      background-color: $bg-orange;
    }
    &_header {
      background: none;
      height: auto;
      justify-content: center;
      line-height: 1;
      padding: calc(18 / 375 * 100vw);
      border-width: 1px;
      font-size: calc(20 / 375 * 100vw);
    }
    &_contents {
      margin-top: calc(24 / 375 * 100vw);
      height: auto;
      text-align: center;

      img {
        width: calc(168 / 375 * 100vw);
      }

      & + & {
        margin-top: calc(24 / 375 * 100vw);
      }
    }
    &_text {
      margin-top: calc(10 / 375 * 100vw);
      font-size: calc(14 / 375 * 100vw);
    }
    &_list {
      li {
        padding-bottom: 12px;
        &:before {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          top: unset;
          content: '';
          display: block;
          width: 232px;
          height: 1px;
        }
        &:last-of-type {
          padding: 0;
          &:before {
            display: none;
          }
        }
      }
    }
    small {
      font-size: calc(13 / 375 * 100vw);
    }
  }
}
