.Lead {
  padding: 70px 0;
  text-align: center;

  p.large {
    font-size: 2.4rem;
    line-height: 1.9;
  }
  p.medium {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  h3 + p.medium {
    margin-top: 24px;
  }
}

@media screen and (max-width: 767px) {
  .Lead {
    padding: 30px 0;
    p.large {
      font-size: calc(16 / 375 * 100vw);
      line-height: 1.8;
    }
    p.medium {
      font-size: calc(14 / 375 * 100vw);
      line-height: 1.7;
    }
    h3 + p.medium {
      text-align: left;
      margin-top: 10px;
      padding: 0 16px;
    }
  }
}
