/* foundation */
@import './foundation/_reset.scss';
@import './foundation/_variables.scss';
@import './foundation/_common.scss';
@import './foundation/_page.scss';

/* ui */
@import './ui/footer.scss';

/* tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
